.mapColor1 {
  fill: #eae4e9;
}
.mapColor2 {
  fill: #fde2e4;
}
.mapColor3 {
  fill: #fad2e1;
}
.mapColor4 {
  fill: #e2ece9;
}
.mapColor5 {
  fill: #f0efeb;
}
.mapColor6 {
  fill: #bee1e6;
}
.mapColor7 {
  fill: #dfe7fd;
}
.mapColor8 {
  fill: #cddafd;
}
